*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-display: fallback; /* Define how the browser behaves during download */
}

body {
  background-color: #E3E3E3;
}

h1, h2, h3, p, a {
  font-family: 'Poppins','Ubuntu',serif;
}

.platzhalter {
  width: 100%;
  height: calc(4vh + 4vw);
}

a:hover{
  opacity: 0.8;
}

nav{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #2E2E2E;
  width: 100%;
  height: 4em;
  z-index: 1;
  overflow-x: hidden;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-links a{
  margin-right: calc(3vh + 3vw);
  color: #9B9B9B;
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 1em;
  font-weight: 500;
}

.nav-links li{
  list-style-type: none;
}

.nav-links a:hover{
  color: white;
  transition: 0.3s;
}

sidenav {
  display: none;
}

.sidenav {
  padding-top: 5rem;
  background-color: #2E2E2E;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: 2;
  display: block;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #9B9B9B;
  display: block;
  transition: 0.3s;
  padding: 1rem;
  font-size: 1.5em;
}

.sidenav a:hover {
  color: white;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.burger {
  color: #9B9B9B;
  display: none;
}

.impressum {
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  margin-top: 6rem;
  text-align: justify;
  display: inline-block

}

.hero {
  width: 100%;
  height: 30vmax;
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero > * {
  color: white;
}

.hero > h1 {
  font-size: calc(2vw + 2vh);
  padding-bottom: 1rem;
}

.hero > article > p {
  font-size: calc(1vw + 1vh);
  font-weight: 200;
}

.hero > article > a {
  padding: 1vmax;
  margin-top: 1vmax;
  background-color: #2E2E2E;
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
  font-size: calc(0.7vw + 0.7vh);
}

.core {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

.info-box {
  background-color: white;
  margin: 2rem;
  margin-left: 0;
  padding: 2rem;
  width: 20%;
}

.content {
  background-color: #E3E3E3;
  margin: 2rem;
  padding: 2rem;
  width: 80%;
  border-radius: 1rem;
}

 .content > ul {
   list-style: none;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
   grid-gap: 1rem;
   text-decoration: none;
 }

 .content > ul > li {
   border: 1rem solid white;
 }

 .content > ul > li > figure {
   max-height: 220px;
   overflow: hidden;
   position: relative;
 }

 .content > ul > li > figure > img {
   width: 100%;
 }

 .content > ul > li > figure > figcaption {
   position: absolute;
   bottom: 0;
   background-color: rgba(0,0,0,.7);
   width: 100%;
 }

 .content > ul > li > figure > figcaption > h3 {
   color: white;
   padding: 0.75rem;
   font-size: 1.25rem;
   z-index: 100;
   text-decoration: none;
 }

 .content > ul > li > p {
   font-size: 1rem;
   line-height: 1.5;
   padding: 1rem 0.75rem;
   color: #666666;
 }

 .content > ul > li > a{
   padding: 0.5rem 1rem;
   margin: 0.5rem;
   background-color: #2E2E2E;
   text-decoration: none;
   color: white;
   border-radius: .25rem;
   text-align: left;
   display: inline-block;
   transition: all .3s;
   align-self: flex-end;
 }

 .icon_hero {
   font-size: calc(3vw + 3vh);
 }


.footer {
  display: flex;
  background-color: #353535;
  min-height: 30vh;
  justify-content: space-around;
  align-items: center;
  padding-left: calc(1vh + 2vw);
  padding-right: calc(1vh + 2vw);
}

.nav-links-footer {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links-footer a{
  color: #9B9B9B;
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 14px;
  font-weight: 500;
}

.nav-links-footer li{
  list-style-type: none;
}

.nav-links-footer a:hover{
  color: white;
  transition: 0.3s;
}

.icons i {
  margin: 20px;
  color: #9B9B9B;
}

.icons i:hover{
  cursor: pointer;
  color: white;
}

.copyright {
  display: flex;
  background-color: #353535;
  min-height: 5vh;
  justify-content: center;
  align-items: center;
}

notice  {
  color: #9B9B9B;
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .burger {
    display: block;
  }
  sidenav {
    display: block;
  }
  .nav-links {
    display: none;
  }

  .header-icons {
    font-size: 0.6rem;
    display: none;
  }
 .info-box {
   display: none;
 }
 .content {
   border-radius: 0;
   width: 100%;
   margin: 0;
   width: 100%;
 }
 .hero {
  height: 60vmax;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
 }

 .hero > h1 {
   font-size: calc(4vw + 4vh);
 }

 .hero > article > p {
   font-size: calc(2vw + 2vh);
 }

 .hero > article > a {
   font-size: calc(1.5vw + 1.5vh);
 }
 .icon_hero{
   font-size: calc(5vw + 5vh);
 }

}
